<form [formGroup]="assignmentForm" (ngSubmit)="onSubmit(assignmentForm.value)">
    <div>
        <label for="taskTitle">Title:</label>
        <input id="taskTitle" type="text" formControlName="title">
    </div>
    <div>
        <label for="taskDes">Description:</label>
        <input id="taskDes" type="text" formControlName="description">
    </div>
    <div>
        <label for="taskGiven">Date Given:</label>
        <input id="taskTitle" type="date" formControlName="dategiven">
    </div>
    <div>
        <label for="taskDue">Due Date:</label>
        <input id="taskDue" type="date" formControlName="datedue">
    </div>
    
    <div>
        <label for="taskPercent">Percentage:</label>
        <input id="taskPercent" type="number" formControlName="percentage">
    </div>
    
    <button type="submit">Add</button>
</form>
